@model IShcool.ViewModels.Test_Answers_VM
@{
    Layout = "_Layout-Student";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto:wght@100;300;400;500;700;900&family=Sigmar+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Lesson_Test.css">
    <title>Test Your Information</title>
</head>
<body class="all-stores-page-body">
    <h6 hidden id="getTime">@ViewBag.Min</h6>
    <div class="scroller"></div>
    <div class="quiz-app">
        <div class="quiz-info">
            <div class="category">امتحان : <span>@ViewBag.Title</span></div>
            <div class="countdown">
                <span id="seconds" class="seconds"></span> :
                <span id="minutes" class="minutes"></span>
            </div>
        </div>

        @foreach (LessonQuestion item in @ViewBag.Questions)
        {
            <div class="quiz-area">
                <h2 id="showQuestion">@item.Quest</h2>
            </div>
            if (item.Quest_Type == "Text")
            {
                <div class="answers-area w-100 d-flex flex-wrap">
                    @{
                        string q0 = item.Quest + "0";
                        string q1 = item.Quest + "1";
                        string q2 = item.Quest + "2";
                        string q3 = item.Quest + "3";
                        string q4 = item.Quest + "4";
                        <input type="radio" checked class="d-none input" id="@q0" name="@item.Quest" />
                        <label class="answer w-100 d-none" for="@q0"></label>
                        <input type="radio" class="d-none input" id="@q1" name="@item.Quest" />
                        <label class="answer w-100" for="@q1">@item.Frist_Answer</label>
                        <input type="radio" class="d-none input" id="@q2" name="@item.Quest" />
                        <label class="answer w-100" for="@q2">@item.Second_Answer</label>
                        <input type="radio" class="d-none input" id="@q3" name="@item.Quest" />
                        <label class="answer w-100" for="@q3">@item.Third_Answer</label>
                        <input type="radio" class="d-none input" id="@q4" name="@item.Quest" />
                        <label class="answer w-100" for="@q4">@item.Forth_Answer</label>
                    }

                </div>
            }
            else if (item.Quest_Type == "Image")
            {
                <div class="answers-area">
                    @{
                        string q1 = item.Quest + "1";
                        string q2 = item.Quest + "2";
                        string q3 = item.Quest + "3";
                        string q4 = item.Quest + "4";
                        <div class="answer">
                            <input type="radio" class=" input" id="@q1" name="@item.Quest" />
                            <img src="~/AnswersImages/@item.Frist_Answer_Url" />
                        </div>
                        <div class="answer">
                            <input type="radio" class=" input" id="@q2" name="@item.Quest" />
                            <img src="~/AnswersImages/@item.Second_Answer_Url" />
                        </div>
                        <div class="answer">
                            <input type="radio" class=" input" id="@q3" name="@item.Quest" />
                            <img src="~/AnswersImages/@item.Third_Answer_Url" />
                        </div>
                        <div class="answer">
                            <input type="radio" class=" input" id="@q4" name="@item.Quest" />
                            <img src="~/AnswersImages/@item.Forth_Answer_Url" />
                        </div>
                    }
                </div>
            }
        }

        <form asp-action="Result" id="submitForm" method="post">
            <input hidden asp-for="answers" id="storedData" />
            <input hidden asp-for="teacherId" value="@ViewBag.TeacherId" />
            <input hidden asp-for="url" value="@ViewBag.Url" />
            <button type="submit" id="submit" class="btn my-3 contact" style="min-width: 200px;width:fit-content;">
                انهاء الامتحان
            </button>
        </form>
    </div>
    <script src="~/js/General_Exam.js"></script>
</body>
</html>