@model IShcool.ViewModels.Id_VM;
@using IShcool.Data;
@using The_Top_App.Models;
@inject ApplicationDbContext _context

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto:wght@100;300;400;500;700;900&family=Sigmar+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Student_Home_Page.css">
    <link rel="stylesheet" href="~/css/StudentList.css">
    <title>Student Home Page</title>
</head>
<body>
    <div class="scroller"></div>

    <div class="subject_table">
        <div class="table_info">
            <h4>بيـانـات الطلبـة</h4>
            @if (TempData["success"] != null)
            {
                <h4 style="color:#FFD700!important;">@TempData["success"]</h4>
            }
            <div class="search">
                <input class="searchInput" type="search" id="search" onkeyup="search()" placeholder="بحث ..." />
                <select>
                    <option value="1" selected>اسم الطالب</option>
                    <option value="3">السنة الدراسية</option>
                </select>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <td style="width:5%;"></td>
                    <td style="width:20%;">اسـم الطـالـب</td>
                    <td style="width:15%;">رقـم التليفـون</td>
                    <td style="width:15%;"> السنـة الدراسيـة</td>
                    <td style="width:15%;">الشعبـة</td>
                    <td style="width:10%;"></td>
                    <td style="width:20%;"></td>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                    @foreach (Student item in @ViewBag.Students)
                    {
                        <tr>
                            <td><h3>@count</h3></td>
                            <td><h3>@item.Name</h3></td>
                            <td><h3>@item.Phone</h3></td>
                            <td><h3>@item.Grade</h3></td>
                            <td><h3>@item.Department</h3></td>
                            <td>
                                <form asp-action="StudentEnrollmentList" method="get">
                                    <input hidden value="@item.Id" asp-for="Id" />
                                    <button type="submit" class="btn vedio">المـدرسيـن</button>
                                </form>
                            </td>
                            <td>
                                @{
                                    bool userConfirm = _context.Users.Where(m => m.Id == item.Id).Select(m => m.EmailConfirmed).FirstOrDefault();
                                    if (userConfirm == true)
                                    {
                                        <form asp-controller="Identity" asp-action="PendingAccount" method="post">
                                            <input hidden value="@item.Id" asp-for="Id" />
                                            <button type="submit" class="btn vedio">ايقاف الاكونت</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-controller="Identity" asp-action="ActivingAccount" method="post">
                                            <input hidden value="@item.Id" asp-for="Id" />
                                            <button type="submit" class="btn vedio">تفعيل الاكونت</button>
                                        </form>
                                    }
                                }
                            </td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    </div>
    <script src="~/js/Student_List.js"></script>
</body>
</html>
